/* Reset do CSS */

* {
    box-sizing: border-box;
outline: none;
}

html, body, #wrap {
 position: relative;
    margin: 0;
    padding: 0;
   width: 100%;
   height: 100%;
}

#wrap {


}

header {
    background-color: rgb(60, 139, 0);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* Responsividade: Cria a unidade responsiva `rem` → 1rem = 16px */
    font-size: 16px;
}

header img {
    display: block;
    width: 64px;
    height: auto;
    margin-right: 16px;
}
header h1 {
    flex-grow: 1;
    margin: 0;
    margin-left: 1rem;
    color: rgb(112, 224, 68);
}

header nav ul{  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    padding: 0 1rem;
    display: flex;
}

.footer-andar-1 i {
    color: green;
}
.footer-andar-1 i:hover {
    color: rgb(112, 224, 68);
}
.footer-andar-2 ul a {
    color: white;
    text-decoration: none;
}

.footer-andar-2 ul a:hover {
    color: green;
}

.footer-andar-2 ul {
    line-height: 2;
}


/*
* Estilização do formulário de contato.
*/

#formContato {
    display: block;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid green;
    border-radius: 8px;
    background-color: rgb(80, 223, 24);
}

#formContato label { /* Estiliza as etiquetas */
    display: block; /* Exibe em bloco */
    padding: .25rem .5rem; /* Espaçamento interno */
}

#formContato input,
#formContato textarea { /* Estiliza os campos de texto */
    width: 100%; /* Largura total */
    background-color: white; /* Cor de fundo */
    border: 1px solid green; /* Borda */
    border-radius:  .3rem; /* Borda arredondada */
    border-bottom:3px solid rgb(128, 0, 0); /* Adiciona uma borda inferior */
}

#formContato textarea { /* Estiliza o campo de texto */
    height: 5rem; /* Altura do campo de texto */
    resize: vertical; /* Permite redimensionar verticalmente */
}

#formContato button { /* Estiliza o botão */
    margin: 1rem auto; /* Centraliza o botão */
    padding: .5rem 1rem; /* Espaçamento interno */
    border: 1px solid green; /* Borda */
    border-radius: 3px; /* Borda arredondada */
    background-color: rgb(80, 223, 24); /* Cor de fundo */
    color: white; /* Cor do texto */
    font-weight: bold; 
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    pointer-events: none; /* Desabilita o botão */
}

#formContato input:valid,
#forContato textarea:valid { /* Estiliza os campos válidos */
    border-color: rgb(252, 252, 252); /* Cor da borda */
    border: 1px solid rgb(0, 77, 128); /* Borda */
    border-radius:  .3rem; /* Borda arredondada */
    border-bottom: 3px solid rgb(0, 77, 128); /* Adiciona uma borda inferior */

}

/* Botão para o formulário de válido */
#formContato:valid button {
    pointer-events: all; /* Habilita o botão */
    background-color: rgb(0, 77, 128); /* Cor de fundo */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
}